.battlefield-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.battlefield-modal-content {
    background: rgb(53, 53, 53);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.battlefield {
    position: relative;
    width: 720px;
    height: 480px;
    background-color: #636363;  
    border: 1px solid #ccc;
    background-image: radial-gradient(#ccc 1px, transparent 1px);
    background-size: 40px 40px;
}

.squad-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: move;
    user-select: none;
    pointer-events: none;
}

.squad-wrapper * {
    pointer-events: auto;
}

.squad-icon {
    width: 20px;
    height: 20px;
    background-color: #1f9a57;
    border-radius: 6px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
}

.squad-label {
    font-size: 10px;
    color: #eeeeee;
    text-align: center;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-close-btn {
    margin-top: 6px;
    align-self: flex-end;
}